.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #161d2f;
  width: 96px;
  height: 90%;
  padding: 32px 0;
  border-radius: 20px;
  align-items: center;
  box-sizing: border-box;

  @media (max-width: 375px) {
    border: none;  
  }
}

.aside {
  position: relative;
  left: 0;
  top: 0;
  height: 100vh;
  z-index: 50;
  width: auto; 
}

.icon {
  width: 32px;
  height: 25.6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuLinks {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 100%;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  flex: 1;
  justify-content: flex-start;
  width: 100%; 
}

.menuLink, .menuLinks a, .menuLinks div {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .aside {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 72px;
    margin: 0;
    z-index: 1000;
    padding: 16px;
  }
  
  .sidebar {
    flex-direction: row;
    width: 100%;
    height: 72px;
    margin: 0;
    border-radius: 20px;
    padding: 16px 24px;
    justify-content: space-between;
    box-sizing: border-box;
  }
  
  .menu {
    flex-direction: row;
    gap: 30px;
    flex: 1;
  }
  
  .menuLinks {
    flex-direction: row;
    gap: 24px;
    margin: 0;
    padding: 0;
    width: auto;
  }
}

@media (max-width: 375px){
  .menuLinks{
    gap: 10px;
  }
}