// .sidebar {
//   display: flex;
//   flex-direction: column;
//   position: relative;
//   background-color: transparent;
//   transition: max-width 0.5s ease-in-out, padding 0.5s ease-in-out;
//   z-index: 8;
//   @apply w-full border-r-1 border-solid border-grey-100 border-b-0 border-l-0 border-t-0 pb-xl;
// }

// .aside {
//   display: none;
//   @apply max-w-[272px] w-full md:block;
// }

 .sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-color: #161d2f;
  transition: max-width 0.5s ease-in-out, padding 0.5s ease-in-out;
  z-index: 8;

  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid #161d2f;
}

.aside {
  display: none;
  max-width: 272px;
  height: 100vh;
  width: 100%;

  @media (min-width: 768px) {
    display: block;
  }
}

.icon{
  width: 32px;
  height: 26px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.menuLinks {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
  width: 100%;
  align-items: center;
}

.menu{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 20px;
  align-items: center;
}