.onboardingFormContainer {
  width: 400px;
  max-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px;
  overflow-y: hidden;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #161D2F;
  border-radius: 8px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  text-align: center;
  color: #fff;
  font-size: 0.875rem;

    a {
    color: #fc4747;
    margin-left: 0.25rem;
    font-weight: 500;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
    }
}

.formContent form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem; // controls vertical space between inputs/buttons
  width: 100%;

  // optional: make sure inputs stretch fully
  > * {
    width: 100%;
  }
}
