.onboardingFormContainer {
  width: 400px;
  max-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xxl);
  padding-top: var(--spacing-xxl);
  overflow-y: hidden;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 var(--spacing-xxl);
}

.container {
  background-color: #161d2f;
  border-radius: var(--border-radius-lg);
  border: 1px solid #5a698f;
  box-shadow: var(--shadow-two);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto;
  scrollbar-width: none;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 88px;
  background-color: transparent;
  color: #8b939e;
  font-size: 0.875rem;
  border-top: 1px solid #5a698f;
  border-bottom-left-radius: var(--border-radius-lg);
  border-bottom-right-radius: var(--border-radius-lg);
}
