.profile{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid white;
    cursor: pointer;

    @media screen and (max-width: 768px) {
        overflow: visible;
    }
}