// .dashboard {
//   display: flex;
//   gap: 20px;
//   background-color: #10141E;
//   padding: 25px;
//   position: relative;

//   &_header {
//     flex: 1;
//     display: flex;
//     flex-direction: column;
//     width: 100%;
//     max-width: 100%;
//     height: 100vh;
//     overflow-x: hidden;
//   }

//   main {
//     flex-grow: 1;
//     overflow: hidden;
//   }

//   @media (max-width: 768px) {
//     padding: 15px;
//     display: flex;
//     flex-direction: column;
//     gap: 10px;
//   }
// }
  

.dashboard {
  display: flex;
  gap: 20px;
  padding-top: 30px;
  background-color: #10141E;
  padding: 25px;
  position: relative;

  &_header {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    height: 100vh;
    overflow-x: hidden;
  }

  main {
    flex-grow: 1;
    overflow: hidden;
    padding: 0 20px;
  }

  @media (max-width: 768px) {
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    gap: 0;
    
    &_header {
      height: auto;
      min-height: 100vh;
      padding: 0;
      margin-top: 82px; /* Push header content below sidebar */
    }
    
    main {
      padding: 0 16px;
      margin-top: 0; /* Remove this since we're pushing the entire header */
    }
  }
}