.gridSection {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-inline: 1rem;
  margin-top: 2rem;

  @media (min-width: 768px) {
    padding-inline: 2rem;
  }
}

.gridTitle {
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
  letter-spacing: -0.5px;
}

.gridContainer {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));

  @media (min-width: 768px) {
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  }

  @media (min-width: 1024px) {
    gap: 2.5rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
