.mediaCard {
  display: flex;
  flex-direction: column;
  color: #fff;
  cursor: pointer;
  transition: transform 0.3s ease;
  border-radius: 8px;
  overflow: hidden;
  position: relative;

  &:hover {
    transform: scale(1.02);
  }
}

.mediaCard.trending {
  min-width: 470px; // Wider for trending
  width: auto;

  .imageContainer {
    margin-bottom: 0;
    height: 230px; // Fixed height for trending
  }

  .image {
    height: 100%;
    object-fit: cover; // Ensure image covers the container
  }

  .bookmark {
    top: 16px;
    right: 16px;
  }

  .info {
    position: absolute;
    bottom: 24px;
    left: 24px;
    right: 24px;
    padding: 0;
  }

  .meta {
    font-size: 13px;
    margin-bottom: 8px;
    gap: 8px;
  }

  .title {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
  }
}

.imageContainer {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  height: 100%;

  .image {
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: inherit;
    display: block;
  }
}

.bookmark {
  position: absolute;
  top: 12px;
  right: 12px;
  background: #979797;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 5;
  border: 1px solid #979797;

  svg {
    width: 12px;
    height: 14px;
    stroke: white;
    fill: none;
    transition: all 0.3s ease;
  }

  &.bookmarked svg {
    fill: white;
    stroke: none;
  }
}

.info {
  margin-top: 8px;
  color: #ffffff;
}

.meta {
  display: flex;
  align-items: center;
  gap: 8px;
  opacity: 0.75;
  font-size: 13px;
  color: #979797;

  .media-card__category {
    display: flex;
    align-items: center;
    gap: 6px;

    svg {
      width: 12px;
      height: 12px;
    }
  }
}

.title {
  font-size: 18px;
  font-weight: 500;
  margin-top: 4px;
  color: #fff;
}
